<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}"/>
    {% block head %}VMO2 Onboarding Project {% endblock %}
</head>
<body>
    {% block content %} 
    <h1>Enter your location</h1>
    <form action="/location" method="post">
        <input type="text" name="location" placeholder="Town/City Name">
        <input type="submit" value="Submit">
    </form>
    {% endblock %}
</body>
</html>